* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 113px;
    /* margin: 1px; */
    padding: 4px;
}

.logo {
    background-image: url("Amazon\ Clone\ \(Resources\)/amazon_logo.png");
    background-size: cover;
    width: 100%;
    height: 50px;
    /* margin: 1px; */
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
    border-radius: 2px;
}

/* box - 2 */

.add-first {
    color: white;
    font-size: 0.85em;
    margin-left: 15px;
}

.add_sec {
    font-size: 1rem;
    font-weight: 500;
}

.add_icon {
    display: flex;
    align-items: center;
}